/* body{
    display: none;
} */

:root {
    --base-font-family: Jost;
    --base-font-size: 16px;
    --base-color: #555555;
    --base-font-weight: 400;
    --base-body-bg-color: rgba(0, 0, 0, 0);
    --border-color-base: #cfcfcf;

    --heading-font-family: Jost;
    --heading-font-weight: 500;
    --heading-letter-spacing: 0px;
    --heading-color: #231f20;

    --navigation-font-family: Jost;
    --navigation-font-size: 14px;
    --navigation-font-weight: 400;
    --navigation-letter-spacing: 0px;

    --primary-color: #99702b;
    --color-link: #111111;
    --color-link-hover: #555;
    --page-title-size: 36px;

    --btn-font-size: 14px;
    --btn-fon-weight: 500;
    --btn-letter-spacing: 0px;
    --btn-border-radius: 0px;

    --btn-primary-bg: #99702b;
    --btn-primary-color: #ffffff;
    --btn-primary-color-hover: #fff;
    --btn-primary-bg-hover: #d2a262;

    --btn-secondary-color: #111111;
    --btn-secondary-bg: #ffffff;
    --btn-secondary-color-hover: #fff;
    --btn-secondary-bg-hover: #111111;

    --btn-link-color: #111111;
    --btn-link-color-hover: #555;

    --header-bg: #ffffff;
    --header-color: #111111;
    --header-transparent-color: #111111;
    --menu-color: #111111;
    --submenu-bg: #ffffff;
    --submenu-color: #555;
    --submenu-hover-color: #111111;

    --body-custom-width-container: 1260px;
    --bls-container-fluid-width: 1410px;

    --space_between_section: 50px;
    --bls__product-details-align: left;

  }

  @media (min-width: 768px) {
    :root {
      --space_between_section: 60px;
    }
  }

  @media (min-width: 1200px) {
    :root {
      --space_between_section: 100px;
    }
  }

  .fslightbox-absoluted {
    position: absolute;
    top: 0;
    left: 0
  }

  .fslightbox-fade-in {
    animation: fslightbox-fade-in .3s cubic-bezier(0, 0, .7, 1)
  }

  .fslightbox-fade-out {
    animation: fslightbox-fade-out .3s ease
  }

  .fslightbox-fade-in-strong {
    animation: fslightbox-fade-in-strong .3s cubic-bezier(0, 0, .7, 1)
  }

  .fslightbox-fade-out-strong {
    animation: fslightbox-fade-out-strong .3s ease
  }

  @keyframes fslightbox-fade-in {
    from {
      opacity: .65
    }

    to {
      opacity: 1
    }
  }

  @keyframes fslightbox-fade-out {
    from {
      opacity: .35
    }

    to {
      opacity: 0
    }
  }

  @keyframes fslightbox-fade-in-strong {
    from {
      opacity: .3
    }

    to {
      opacity: 1
    }
  }

  @keyframes fslightbox-fade-out-strong {
    from {
      opacity: 1
    }

    to {
      opacity: 0
    }
  }

  .fslightbox-cursor-grabbing {
    cursor: grabbing
  }

  .fslightbox-full-dimension {
    width: 100%;
    height: 100%
  }

  .fslightbox-open {
    overflow: hidden;
    height: 100%
  }

  .fslightbox-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center
  }

  .fslightbox-opacity-0 {
    opacity: 0 !important
  }

  .fslightbox-opacity-1 {
    opacity: 1 !important
  }

  .fslightbox-scrollbarfix {
    padding-right: 17px
  }

  .fslightbox-transform-transition {
    transition: transform .3s
  }

  .fslightbox-container {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(30, 30, 30, .9), #000 1810%);
    touch-action: pinch-zoom;
    z-index: 1000000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
  }

  .fslightbox-container * {
    box-sizing: border-box
  }

  .fslightbox-svg-path {
    transition: fill .15s ease;
    fill: #ddd
  }

  .fslightbox-nav {
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0
  }

  .fslightbox-slide-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 15px;
    color: #d7d7d7;
    z-index: 0;
    max-width: 55px;
    text-align: left
  }

  .fslightbox-slide-number-container .fslightbox-flex-centered {
    height: 100%
  }

  .fslightbox-slash {
    display: block;
    margin: 0 5px;
    width: 1px;
    height: 12px;
    transform: rotate(15deg);
    background: #fff
  }

  .fslightbox-toolbar {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    background: rgba(35, 35, 35, .65)
  }

  .fslightbox-toolbar-button {
    height: 100%;
    width: 45px;
    cursor: pointer
  }

  .fslightbox-toolbar-button:hover .fslightbox-svg-path {
    fill: #fff
  }

  .fslightbox-slide-btn-container {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 6px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    transform: translateY(-50%)
  }

  @media (min-width:476px) {
    .fslightbox-slide-btn-container {
      padding: 22px 22px 22px 6px
    }
  }

  @media (min-width:768px) {
    .fslightbox-slide-btn-container {
      padding: 30px 30px 30px 6px
    }
  }

  .fslightbox-slide-btn-container:hover .fslightbox-svg-path {
    fill: #f1f1f1
  }

  .fslightbox-slide-btn {
    padding: 9px;
    font-size: 26px;
    background: rgba(35, 35, 35, .65)
  }

  @media (min-width:768px) {
    .fslightbox-slide-btn {
      padding: 10px
    }
  }

  @media (min-width:1600px) {
    .fslightbox-slide-btn {
      padding: 11px
    }
  }

  .fslightbox-slide-btn-container-previous {
    left: 0
  }

  @media (max-width:475.99px) {
    .fslightbox-slide-btn-container-previous {
      padding-left: 3px
    }
  }

  .fslightbox-slide-btn-container-next {
    right: 0;
    padding-left: 12px;
    padding-right: 3px
  }

  @media (min-width:476px) {
    .fslightbox-slide-btn-container-next {
      padding-left: 22px
    }
  }

  @media (min-width:768px) {
    .fslightbox-slide-btn-container-next {
      padding-left: 30px
    }
  }

  @media (min-width:476px) {
    .fslightbox-slide-btn-container-next {
      padding-right: 6px
    }
  }

  .fslightbox-down-event-detector {
    position: absolute;
    z-index: 1
  }

  .fslightbox-slide-swiping-hoverer {
    z-index: 4
  }

  .fslightbox-invalid-file-wrapper {
    font-size: 22px;
    color: #eaebeb;
    margin: auto
  }

  .fslightbox-video {
    object-fit: cover
  }

  .fslightbox-youtube-iframe {
    border: 0
  }

  .fslightbox-loader {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67px;
    height: 67px
  }

  .fslightbox-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 6px;
    border: 5px solid;
    border-color: #999 transparent transparent transparent;
    border-radius: 50%;
    animation: fslightbox-loader 1.2s cubic-bezier(.5, 0, .5, 1) infinite
  }

  .fslightbox-loader div:nth-child(1) {
    animation-delay: -.45s
  }

  .fslightbox-loader div:nth-child(2) {
    animation-delay: -.3s
  }

  .fslightbox-loader div:nth-child(3) {
    animation-delay: -.15s
  }

  @keyframes fslightbox-loader {
    0% {
      transform: rotate(0)
    }

    100% {
      transform: rotate(360deg)
    }
  }

  .fslightbox-source {
    position: relative;
    z-index: 2;
    opacity: 0
  }

  #insta-feed {
    text-align: center;
  }

  .bls__purple-light {
    background-color: #c3b1e1 !important;
    background-image: initial !important;
  }

  .bls__green {
    background-color: #7abdb5 !important;
    background-image: initial !important;
  }

  .bls__blue {
    background-color: #3f8ad1 !important;
    background-image: initial !important;
  }

  .bls__yellow {
    background-color: #e2c28f !important;
    background-image: initial !important;
  }

  .bls__light-yellow {
    background-color: #ecdebf !important;
    background-image: initial !important;
  }

  .bls__purple {
    background-color: #d7b2bb !important;
    background-image: initial !important;
  }

  .bls__pink {
    background-color: #fcd1db !important;
    background-image: initial !important;
  }

  .bls__red {
    background-color: #ce2e2e !important;
    background-image: initial !important;
  }

  .bls__teal {
    background-color: #008080 !important;
    background-image: initial !important;
  }

  .bls__light-blue {
    background-color: #a9c0e0 !important;
    background-image: initial !important;
  }

  .bls__brown {
    background-color: #7b4b39 !important;
    background-image: initial !important;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-style: light;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
      url('https://cdn.getsimpl.com/tachyon-widget-script-assets/SourceSansPro-Light.otf') format('opentype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-style: regular;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
      url('https://cdn.getsimpl.com/tachyon-widget-script-assets/SourceSansPro-Regular.otf') format('opentype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-style: medium;
    font-weight: 600;
    src: local('Source Sans Pro Medium'), local('SourceSansPro-Semibold'),
      url('https://cdn.getsimpl.com/tachyon-widget-script-assets/SourceSansPro-Semibold.otf') format('opentype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-style: bold;
    font-weight: 700;
    src: local('SF Pro Display Bold'), local('SourceSansPro-Bold'),
      url('https://cdn.getsimpl.com/tachyon-widget-script-assets/SourceSansPro-Bold.otf') format('opentype');
    font-display: swap;
  }


  .simpl-checkout-modal {
    z-index: 2147483647 !important;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .simpl-checkout-modal-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #e2eeeefa;
    border-radius: 16px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
  }

  .simpl-checkout-modal-loader__header {
    display: block !important;
    height: 64px;
    background: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
  }

  .simpl-checkout-modal-loader__footer {
    text-align: center;
  }

  .simpl-checkout-modal-loader__footer__bridge {
    flex: 1 1 auto;
    border: 0.5px solid #E0E0E0;
    transition: all 0.5s ease-in-out;
  }

  .simpl-checkout-modal-loader__content {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #00D1C1;
    height: 80%;
    flex-direction: column;
    justify-content: center;
  }

  .show-simpl-checkout-modal {
    display: block;
  }

  .simpl-checkout-modal-content {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    max-width: 800px;
    height: 600px;
    margin-top: 100px;
  }

  .simpl-checkout-modal-content-v1 {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    max-width: 372px;
    height: 90%;
    margin-top: 21px;
  }

  .simpl-error-container {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    max-width: 600px;
  }

  .simpl-checkout-container {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 100%;
  }

  .simpl-checkout-container #simpl_body_div_checkout {
    height: 100%;
    width: 100%;
  }

  .simpl-error-container .simpl_body_error_div {
    text-align: center;
  }

  .simpl-button:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
  }

  .simpl-checkout-quickCheckout-v2.simpl-button-disabled .simpl-button,
  .simpl-button.simpl-button-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none;
  }

  .simpl-checkout-quickCheckout-v2.simpl-button-disabled .simpl-button,
  .simpl-button.simpl-button-disabled:hover {
    box-shadow: none;
  }

  @media only screen and (max-width: 600px) {
    .simpl-checkout-modal-content {
      width: 100% !important;
      height: 100% !important;
      margin-top: 0%;
    }

    .simpl-checkout-modal-content-v1 {
      width: 100% !important;
      height: 100% !important;
      margin-top: 0%;
      max-width: 100% !important;
    }

    .simpl-checkout-container {
      height: 100% !important;
    }

    #simpl_body_div_checkout {
      height: 100% !important;
      width: 100% !important;
    }

    .simpl_body_error_div {
      height: 50% !important;
    }

    .simpl-checkout-container {
      height: 100% !important;
    }

    .simpl-checkout-iframe {
      border-radius: 0px !important;
    }

    .simpl-checkout-modal-loader__header {
      border-radius: 0px !important;
    }

  }

  .simpl-checkout-iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .simpl-offer-modal-checkout-button {
    white-space: normal;
  }

  .simpl-offer-modal-checkout-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  .simpl-offer-modal-checkout-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }

  .simpl-offer-modal-checkout-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .simpl-loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    position: absolute;
    left: 50%;
    top: 50%;
    display: block !important;
  }

  @-webkit-keyframes rotate {

    /* 100% keyframe for  clockwise. 
 use 0% instead for anticlockwise */
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  body.simpl-offer-disbale-scroll {
    overflow: hidden;
  }



  .simpl-loader-animation {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .simpl-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 30000;
  }

  .simpl-loader__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 30000;
    display: flex;
    height: 165px;
    width: 165px;
  }

  .simpl-loader__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #00A699;
  }

  .simpl-logo {
    transform: none;
    width: auto;
    height: 32px;
  }

  .simpl-loader__spinner {
    /* @apply inset-0 absolute; */
    animation: simpl-contanim 2s linear infinite;
    height: 90px;
    margin: auto;
    position: absolute;
    width: 90px;
    z-index: 1000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .simpl-logo svg {
    height: 100%;
    transform: rotate(-90deg);
    width: 100%;
  }

  .simpl-loader__spinner svg:nth-child(1) circle {
    stroke: #00d1c1;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: simpl-strokeanim 2s calc(0.2s * (1)) ease infinite;
    transform-origin: center center;
  }

  .simpl-loader__try-another-method {
    cursor: pointer;
    display: none;
    border: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #00A699;
    background: none;
  }

  .simpl-loader__redirection-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #737373;
  }

  @keyframes simpl-strokeanim {
    0% {
      stroke-dasharray: 1, 300;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 120, 300;
      stroke-dashoffset: -58.548324585;
    }

    100% {
      stroke-dasharray: 120, 300;
      stroke-dashoffset: -175.6449737549;
    }
  }

  @keyframes simpl-contanim {
    100% {
      transform: rotate(360deg);
    }
  }

  .simpl-checkout-modal-loader__footer {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: #888888;
  }

  .simpl-checkout-modal-loader__footer__powered-by {
    display: flex;
    justify-content: space-around;
  }

  .simpl-checkout-modal-loader__footer .bridge-left {
    display: block !important;
    width: 33%;
    border-top: 0.5px solid #E0E0E0;
    margin-top: 6.5px;
  }

  .simpl-checkout-modal-loader__footer .bridge img {
    margin-top: 1px;
    margin-left: 2px;
  }

  .simpl-checkout-modal-loader__footer__trust {
    display: flex;
    justify-content: space-between;
    padding: 6px 40px;
  }

  .simpl-checkout-modal-loader__footer__trust div {
    display: flex;
  }

  .simpl-checkout-modal-loader__footer .bridge {
    display: flex;
  }

  .simpl-checkout-modal-loader__footer .bridge-right {
    display: block !important;
    width: 35%;
    border-top: 0.5px solid #E0E0E0;
    margin-top: 6.5px;
  }


  .simpl-card-container {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
  }



  .simpl-button-common {
    cursor: pointer;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    border: 1px solid #00BEAF;
    width: 350px;
    height: 50px;
  }

  .simpl-button-container__outline {
    background: #FFFFFF;
    color: #00A699;
  }

  .simpl-button-container__filled {
    color: #FFFFFF;
    background: linear-gradient(90deg, #00D1C1 0%, #00D1DC 100%);
  }


  .simpl-variant-container {
    margin-top: 250px;
    background: #F6F6F6;
    border-radius: 16px;
    padding: 48px 36px;
  }

  .simpl-variant-card-container__title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 18px;
  }

  .simpl-variant-container__hr {
    border: 0.5px solid #E0E0E0;
    margin-top: 24px;
    display: block !important;
  }

  .simpl-variant-card-container__features span {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-right: 40px;
  }

  .simpl-variant-container__title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #202020;

    /* cosmetic */
    margin-bottom: 16px;
  }

  .simpl-variant-container__cta-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 450px) {
    .simpl-variant-container__cta-container {
      flex-direction: column-reverse;
    }

    .simpl-variant-container__cta-container button {
      width: 100%;
    }

    .simpl-variant-card-container__features {
      display: flex;
      flex-direction: column;
    }

    button#simpl-variant-edit-option {
      border: none;
      background: transparent;
      box-shadow: none;
      margin-bottom: -24px;
    }

    .simpl-variant-container {
      top: 20%;
      position: absolute;
      width: 95%;
      margin-top: 0px;
    }

    .simpl-checkout-container {
      justify-content: center;
      display: flex;
    }
  }



  .simpl-checkout-modal-loader-v1 {
    font-family: 'Source Sans Pro';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 16px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 599px) {
    .simpl-checkout-modal-loader-v1 {
      border-radius: 0;
    }
  }

  .simpl-loader-animation-v1 {
    animation-duration: 3s;
    animation-fill-mode: both;
  }

  .simpl-loader-v1 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 30000;
  }

  .simpl-loader__wrapper-v1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 30000;
    display: flex;
    height: 165px;
    width: 165px;
  }

  .simpl-loader__container-v1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #00A699;
  }

  .simpl-loader__spinner-v1 {
    animation: simpl-contanim 2s linear infinite;
    height: 90px;
    margin: auto;
    position: absolute;
    width: 90px;
    z-index: 1000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .simpl-loader__spinner-v1 svg:nth-child(1) circle {
    stroke: #394053;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    animation: simpl-strokeanim 2s calc(0.2s * (1)) ease infinite;
    transform-origin: center center;
  }

  .simpl-loader__spinner-v1 svg {
    width: inherit !important;
    height: inherit !important;
    stroke: inherit !important;
    fill: none !important;
    transform: rotate(-90deg);
  }

  @keyframes simpl-strokeanim-v1 {
    0% {
      stroke-dasharray: 1, 300;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 120, 300;
      stroke-dashoffset: -58.548324585;
    }

    100% {
      stroke-dasharray: 120, 300;
      stroke-dashoffset: -175.6449737549;
    }
  }

  @keyframes simpl-contanim-v1 {
    100% {
      transform: rotate(360deg);
    }
  }

  .simpl-checkout-modal-loader-v1__title {
    display: flex;
    justify-content: center;
  }

  .simpl-checkout-modal-loader-v1__action {
    display: flex;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
  }

  .simpl-checkout-modal-loader-v1__title svg {
    width: inherit !important;
    height: inherit !important;
    stroke: inherit !important;
    fill: none !important;
  }

  .simpl-checkout-modal-loader-v1__action svg {
    width: inherit !important;
    height: inherit !important;
    stroke: inherit !important;
    fill: none !important;

  }
  